/* Body, Nav Bar, Footer */

body {
    background-color: none;
    margin: 0px !important;
}

nav {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #013863;
    margin: 0px !important;
}

.navbarmenu {
    display: flex;
}

.navbarmenu a {
    font-family: Acme;
    font-size: 16px;
    font-style: bold;
    color: white;
    padding: 16px;
    margin: 10px;
    cursor: pointer;}


.mobilenavbarmenu {
    display: none;
}

footer {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #013863;
    margin: 0px !important;
    }

.Copyright {
    font-family: Arimo;
    font-size: 14px;
    font-style: bold;
    color: white;
    width: 40%;
    text-align: center;
    }

.FooterLinkedText {
    display: flex;
    width: 40%;
    text-align: center;
}

.FooterLinkedText a {
    font-family: Acme;
    font-size: 14px;
    font-style: bold;
    color: white;
    margin: 10px;
}

.FooterLinkedText a:hover {
    font-size: 18px;
}

/* Homepage */

#containerGrid {
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.headshotarea {
    justify-content: start;
    align-content: center;
    width: 100%;
    text-align: center;
}

.imageheadshot {
    width: 40%;
    margin-top: 25px;
    height: auto;
}

.images {
    width: 100%;
    height: auto;
}

.AboutMe {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.ContactMethods {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.AboutMe h1 {
    font-family: Acme;
    font-size: 48px;
    font-style: normal;
    color: black;
}

.AboutMe h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
}

.AboutMe p {
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    color: black;
}

button.contactButton {
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: Acme;
    margin-left: 16px;
    margin-right: 25px;
    height: 58px;
    width: 252px;
    cursor: pointer;
    background-color: #007b84;
    border-radius: 20px;
}

.CaseStudy1, .CaseStudy2, .CaseStudy3, .CaseStudy4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-color: #007b84;
    border-radius: 20px;
    color: black;
    padding: 2%;
    margin-bottom: 20px;
}

.CaseStudy1 {
    margin-top: 100px;
}

.CaseStudyText {
    width: 65%;
} 

.CaseStudyText h1 {
    text-align: left;
    font-family: Arimo;
    font-size: 24px;
    font-style: bold;
    }

.CaseStudyText p {
    text-align: left;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    }

.CaseStudyImg {
    width: 30%;
}

#bottomLeft {
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.iconimages {
    width: 100%;
}

#bottomRight {
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.skillsimage {
    width: 100%;
}

/* Contact Page */

h3 {
    font-family: Acme;
    font-size: 36px;
    font-style: normal;
    color: black;
}

.contactheader {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactpageName {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headshotcontact {
    justify-content: start;
    align-content: center;
    width: 100%;
    text-align: center;
}

.headshotcontact h1 {
    font-family: Acme;
    font-size: 48px;
    font-style: normal;
    color: black;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.headshotcontact h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.contactpageMethods {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 40px;
}

.contactpageMethods h4 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

/* Case Study 1 */

.casestudyheader {
    text-align: center;
}

.casestudyheader h1 {
    font-family: Acme;
    font-size: 42px;
    font-style: medium;
    color: black;
}

.casestudyheader h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
}

hr.headingline {
    border-bottom: 4px solid #007b84;
    width: 500px;
}

.sectionOne {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sectionTwo {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.casestudyDesc {
    width: 100%;
}

.casestudyDesc h1 {
    font-family: arimo;
    font-size: 20px;
    font-style: bold;
    color: black;
    text-align: left;
}

.casestudyDesc p {
    font-family: arimo;
    font-size: 20px;
    font-style: normal;
    color: black;
    text-align: left;
}

ul.listfont {
    font-family: arimo;
    font-size: 20px;
    font-style: normal;
    color: black;
    text-align: left;
    }

.resourcepage {
    width: 50%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #containerGrid {
        grid-template-columns: 100%;
    }

    .FooterLinkedText a {
        font-size: 12px;
    }

    .Copyright {
        font-size: 12px;
    } 

    .FooterLinkedText a:hover {
        font-size: 16px;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #containerContact {
        display: flex; 
        flex-direction: column;
    }
    
}

